
/* navigation bar */

.nav-list{
    background-color:rgba(188, 188, 188, 0);
    display:flex;
    justify-content:flex-end;
    align-items: center;
    box-shadow: 0px 7px 20px 1px #00000014;
}
.nav-item{
    list-style: none;
    margin: 1rem;
}

.nav-item > a {
    font-size: .8rem;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    transition:all .6s;
    /*background-color: pink;*/
    padding:1rem 2rem;
    border-bottom: white 1px solid;
}

.nav-item:first-child {
    margin-right : auto;
}
.nav-item:last-child>a{
    color:white;
}

.nav-item:not(:last-child) > a:hover {
    border-bottom:solid rgba(63, 63, 63, 0.318) 1px;
}

.hero{
    text-align: center;
    font-size:1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

li {
    list-style: none;
    padding: .7rem 1rem;
}

.bb{
    text-decoration: none;
    /*background-color:rgb(249, 244, 245);*/
    background-color: #2C8954;
    padding:.6rem 2rem;
    color: rgba(255, 255, 255, 0.45);
    /*border:1px solid rgb(23, 121, 207);*/
    /*border-radius:10px;*/
    box-shadow: -1px 8px 17px 2px #0000004d;
    transition: all .2s;
    display: inline-block;
}

.bb:hover{
    color:white;
    /*transform: translateY(-2px);*/
    /*box-shadow: -1px 8px 17px 3px rgba(0, 0, 0, 0.48);*/
}

.link{
    display: inline-block;
    background-color:#2C8954;
    padding:1rem 2rem;
  color: rgba(255, 255, 255, 0.71);
    /*border:1px solid rgb(23, 121, 207);*/
    transition: all .4s;
    /*border-radius: 10px;*/
    text-decoration: none;
    margin-right: 1rem;
     box-shadow: -1px 8px 17px 2px #0000004d;
}

.link:hover{
    background-color:#249D68;
    color:white;

}
.row{
    background-color: #F2F2F2;
}
.row > .col:last-child{
    background-color:#D9D9D9;
    padding:1rem 2rem;
}

.container > .row{
    margin-top:2rem;
}