body{
  font-family: Lato,sans-serif;
  font-size : 12px;

}



.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}


th {
 color:#fff;
 background: #09630b;
text-transform: capitalize;
 border-bottom:4px solid #171616;
 border-right: 1px solid #1f2120;
 font-size:1rem;
 font-weight: 300;
 padding:24px;
 text-align:left;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 vertical-align:middle;
}


th:first-child {
  border-top-left-radius:3px;
}



th:last-child {
border-top-right-radius:3px;
border-right:none;
}

tr {
border-top: 1px solid #C1C3D1;
border-bottom-: 1px solid #C1C3D1;
color:#000;
font-size:1.3rem;
font-weight:700;
text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/*tr:hover td {*/
/*background: rgba(4, 50, 15, 0.21);*/
/*color: #064507;*/
/*border-top: 1px solid #22262e;*/
/*}*/

tr:first-child {
border-top:none;
}

tr:last-child {
border-bottom:none;
}

tr:nth-child(odd) td {
background:#EBEBEB;
}

/*tr:nth-child(odd):hover td {*/
/*background: rgba(75, 156, 73, 0.55);*/
/*}*/

tr:last-child td:first-child {
border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
border-bottom-right-radius:3px;
}

td {
background:#FFFFFF;
padding:20px;
text-align:left;
vertical-align:middle;
font-weight:300;
font-size:18px;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
border-right: 1px solid #C1C3D1;
}

td:last-child {
border-right: 0px;
}

th.text-left {
text-align: left;
}

th.text-center {
text-align: center;
}

th.text-right {
text-align: right;
}

td.text-left {
text-align: left;
}

td.text-center {
text-align: center;
}

td.text-right {
text-align: right;
}

td > a:active,
td > a:link{
  text-decoration:none;
  color : rgba(16, 123, 26, 0.96);
  font-weight:400;

}
td > a:hover,
td > a:visited {
 text-decoration:underline;
  }


.add_button{
  height:50px;
  text-align:center;
}

.add_button > a:link,
.add_button > a:visited {
  margin-top:20px;
  display:inline-block;
  padding: 10px 20px;
  background-color: #0d7f26;
  color:white;
  text-decoration: none;
  font-size : 1.4rem;
  border-radius: 5px;
  box-shadow:1px 6px 12px black;
}

.add_button > a:hover{
  text-decoration:none;
  cursor:pointer;
}
