{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="shortcut icon" href="./image/images.png" type="image/x-icon">

</head>
<body>

    <!-- ########################## navigation ############################## -->
    <!-- navigation bar -->
    <nav>
        <ul class="nav-list">
            <li class="nav-list__item"><a href=""><img class="nav-list__item--icon" src="../image/logo-white.png" alt="site logo"></a></li>
            <li class="nav-list__item"><a href="{% url 'userdashbord' %}" class="w w-h">home</a></li>
            <li class="nav-list__item"><a href="#" class="w w-a" >About</a></li>
            <li class="nav-list__item"><a href="{% url 'login' %}"  class="w w-s">login</a></li>
        </ul>
    </nav>
    <!-- navigation bar end -->
     <!-- ######################################################################## -->



    <!-- ########################  header ################################### -->
    <header class="header">
       <!-- <div class="header__logo-box">
           <img class="header__logo" src="../image/logo-white.png" alt="site logo">
       </div> -->


       <h1 class="header__primary">
           <span class="header__primary--main">Recalla</span>
           <span class="header__primary--sub">Remember every thing</span>

           <a href="#" class="btn btn--white">visit our courses &rarr;</a>
       </h1>

    </header>
     <!-- ######################################################################## -->





      <!-- ##########################   main  ################################## -->
    <main>

        <section class="section-about">
            <h2 class="heading-secoundary">one<span class="heading-secoundary--mode">more</span>thing to learn ...</h2>
            <div class="row padding_add">
                <div class="col-1-of-2">


                    <h3 class="heading-tertiary w1">Active recall</h3>
                    <p class="paragraph"> Active recall is the process of remembering information. It is an efficient way of moving information from short-term to long-term memory so that you can easily draw on it again when you need it most, such as for an assessment or exam. So the theory goes that if you want to remember a fact, don’t just read it, don’t reread it, don’t just underline or highlight it, close your eyes and try to recall it without looking it up in your notes or online. If you can successfully do so, you have used active recall. If not, look it up, learn it and then try again. </p>

                    <h3 class="heading-tertiary w2"> Repeating testing </h3>
                    <p class="paragraph"> Repeatedly asking yourself a question and then challenging your brain to retrieve the answer is an interactive exercise which moves information from your short-term to long-term memory.

                    Once the information is stored in your long-term memory, that’s when you can successfully recall it at some point in the future (like in a test). If you only passively review your material (like simply reading it), the information won’t transfer as readily, so you may not be able to remember this information as easily, if at all, in the future. </p> -->



                  </div>
                <div class="col-1-of-2">
                   <div class="composition">

                        <img src="{% static '/css/image/1.jpg'%}" alt="" class="composition__photo composition__photo--p1">
                        <img src="{% static '/css/image/2.jpg'%}"  alt="" class="composition__photo composition__photo--p2">
                        <img src="{% static '/css/image/3.jpg'%}"  alt="" class="composition__photo composition__photo--p3">

                    </div>
                </div>





            </div>


        </section>

<!-- this thing for use for designing -->
        <!-- <div class="box box--1">
        </div>
        <div class="box box--2">
        </div> -->
<!-- end designing box  -->


<div class="hello">
    <h2 class="test-type">Progress <span class="test-type--smaller"> tracking </span></h2>
</div>



<section  class="exam-infomation">



    <div class="row padding_add--bigger">
        <!-- shavendra add the exam image page when it's chreate  -->
        <div class="col-1-of-2 paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aperiam sequi! Nemo modi dolorum ut, aperiam tenetur quaerat pariatur accusantium, numquam repellendus debitis, nobis itaque illo ad doloremque recusandae laboriosam.</div>
        <div class="col-1-of-2 paragraph paragraph--white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo minima commodi aperiam! Totam praesentium aspernatur nobis quas aliquam accusamus autem quia? Minus non sit esse, nihil numquam consectetur quaerat commodi!
        Quos nam a cupiditate aspernatur provident id molestias similique dolorem eaque labore officia temporibus, porro neque possimus distinctio. Facilis, expedita quasi. Voluptatum iusto consequatur sint. Hic quibusdam obcaecati laudantium porro?
        Aliquid, eveniet possimus illo exercitationem porro mollitia. Eaque ut alias quidem labore ullam. Recusandae expedita natus ex tenetur maxime voluptate est, illo placeat eos omnis quis ipsam. Magni, tempore labore.
        Adipisci, sunt delectus. Laborum expedita explicabo fuga aperiam sequi quo possimus impedit perspiciatis reprehenderit asperiores rem voluptatem deserunt sint iure nostrum, libero cupiditate officiis iusto autem nisi? Doloribus, dolor veniam.
        Tempore id perferendis aliquid dolorem, distinctio architecto nulla, accusantium nisi maiores consequuntur recusandae vero fugit quod voluptates? Recusandae, cumque odio libero blanditiis praesentium aliquam reprehenderit animi consequuntur perferendis, nisi distinctio!</div>
    </div>


</section>

    </main>
     <!-- ######################################################################## -->


     <!-- ##################### footer start ###################################### -->
    <footer>


        <div class="row padding_add--smaller padding__bottom--smaller center">
            <div class="col-1-of-2 ">
                <h3 class="heading__footer">Recalla</h3>
                <p class="footer__content icon icon--1">Contact us</p>
                <p class="footer__content icon icon--2">077304269</p>
                <p class="footer__content icon icon--3">shavendragoesoft@gmail.com</p>
            </div>

            <ion-icon name="call-outline"></ion-icon>
            <div class="col-1-of-2">
                <h3 class="heading__footer">help full links</h3>
                <li>
                    <a href="#">sign in</a>
                    <a href="">home</a>
                    <a href="">blog</a>
                </li>
            </div>

        </div>


    </footer>

    <!-- ########################################################################## -->




<script src="./javaScript/app.js"></script>
<script src="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>
</body>
</html>
